<div class="dashboard-container">

  <div class="header-card">

    <h1>👨‍💼 Administration Utilisateurs</h1>

    <p>
      Gestion des comptes utilisateurs
    </p>

  </div>

  <div class="table-card">

    <table>

      <thead>

        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Rôle</th>
          <th>Poste</th>
          <th>Objectif</th>
          <th>Action</th>
        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let user of users">

          <td>{{ user.nom }}</td>

          <td>{{ user.prenom }}</td>

          <td>{{ user.email }}</td>

          <td>
            <span class="role">
              {{ user.role }}
            </span>
          </td>

          <td>{{ user.posteActuel }}</td>

          <td>{{ user.objectif }}</td>

          <td>

            <button
              class="delete-btn"
              (click)="deleteUser(user)"
            >
              🗑️
            </button>

          </td>

        </tr>

      </tbody>

    </table>

    <div
      class="empty"
      *ngIf="users.length === 0"
    >
      Aucun utilisateur trouvé
    </div>

  </div>

</div>